<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Become Admin</title>
    <link rel="stylesheet" href="/styles/userstatus.css" />
  </head>
  <body>
   <div class="container">
    <h1>Become Admin</h1>

    <!-- Display validation errors -->
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <ul>
        <% errors.forEach(function(error) { %>
        <li style="color: red"><%= error.msg %></li>
        <% }); %>
      </ul>
      <% } %>

    <form action="/become-admin" method="POST">
      <div>
        <label for="secretKeyadmin">Enter Admin Secret Key: [Hint: Master of Lightning.]</label>
        <input type="password" id="secretKey" name="secretKeyadmin" required />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
      <a href="/posts"><button class="back-posts">Back to Posts</button></a>
   </div>

  </body>
</html>
