<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Our Application</h1>
      
      <div class="instruction">
          <h2>Become a Member</h2>
          <p>Once you're a member, you can see who posted. You can become a member after entering the secret key in the Become Member tab after logging in</p>
      </div>

      <div class="instruction">
          <h2>Become an Admin</h2>
          <p>Once you're an admin, you can delete posts. You can become an admin after entering the secret key in the Become Admin tab after logging in.</p>
      </div>

      <a href="/sign-up"><button>Sign Up</button></a>
      <a href="/log-in"><button>Log In</button></a>
  </div>
  </body>
</html>
