<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Folder</title>
</head>
<body>
  <h1>Create a New Folder</h1>

 

  <form action="/folders" method="POST">
    <input type="text" name="folderName" placeholder="Folder Name" required />
    <button type="submit">Create Folder</button>
  </form>

  <a href="/filesPage">Back to Files</a>
</body>
</html>
