<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <!-- <link rel="stylesheet" href="/styles/sign-log.css"> -->
  </head>
  <body>

    <div class="container">
      <h1>Log In</h1>

  
  
  <% if (error) { %>
    <div class="alert alert-danger"><%= error %></div> <!-- This is for Passport.js errors -->
  <% } %>
  
      

    <form action="/log-in" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"  autocomplete="username" />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" autocomplete="new-password" required>
      </div>

      <div>
        <button type="submit">Log In</button>
      </div>
    </form>

    <p>Don't have an account? <a href="/sign-up">Sign up here</a></p>
    </div>

    
  </body>
</html>
